.outer-container {
    display:inline-block;
    margin: 0.2em;
    border: 2px solid red;
}

.text-container {
    padding-right: 0.3em;
    font-size: 2em;
    font-style: italic;
    font-family: 'Impact';
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.cat-container {
    height: 250px;
    width: 340px;
    background-size: cover;
    background-image: url("cat.jpg");
}